.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
}

.card-category .list-link {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, lightgray, lightgray 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.card-category .list-link:hover {
  background-position: 0 100%;
  text-decoration: none;
}
#trash {
  font-size: 1em;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  transition: 0.5s;
}

#trash:hover {
  font-size: 1.1em;
  font-weight: bold;
  color: lightgray;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
